@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;400;500;700&family=Zhi+Mang+Xing&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Noto Sans SC", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Zhi Mang Xing", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

body {
  font-family: var(--font-sans);
  background-color: #F8F9F5;
  color: #333333;
}
