@import "tailwindcss";

@theme {
  --font-serif: "Noto Serif SC", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

body {
  font-family: var(--font-serif);
  background-color: #f5f1eb;
  color: #2c2416;
}
